{% include('form/form.html.twig') %}
<head>
	<title>experience</title>
</head>
<div class="container" style="margin-left: 250px;">
	<div class="row">


		<div class="col-md-12">
			<h4>gestion experience</h4>
			<a href='{{path('ajouterexperience')}}' type="button" class="btn btn-primary">ajouter</a>

			<div class="table-responsive">
				<table id="mytable" class="table table-bordred table-striped">

					<thead>
						<th>etablissement</th>
						<th>description</th>
						<th>date</th>
					</thead>
					<tbody>
						{% for i in section %}
							<tr>
								<td>{{i.subtitle}}</td>
                                <td>{{i.description}}</td>
								<td>{{i.date}}</td>
								
								<td>
									<p data-placement="top" data-toggle="tooltip" title="Edit">
										<a href='{{path('modifierexperience',{'id':i.id})}}' type="button" class="btn btn-success">modifier</a>
									</p>
								</td>
								<td>
									<p data-placement="top" data-toggle="tooltip" title="Delete">
										<a href= '{{path('supprimerexperience',{'id':i.id})}}' type="button" class="btn btn-danger" data-toggle="modal" data-target="#supprimer">supprimer</a>
									</p>
								</td>
							</tr>

						{% endfor %}
					</tbody>

				</table>


			</div>

		</div>
	</div>
</div>

{% include('footer/footer.html.twig') %}
